html, body {
    padding: 0;
    background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
}
h1 {
    margin-left: 100px;
    font-size: 48px;
}

.container {
    margin-top: 300px;
    margin-left: 100px;
    background: #aaa;
    display: inline-block;
    border: 15px solid #aaa;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, 110px);
    grid-gap: 15px;
}

.cell {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: #ccc;
    border-radius: 5px;
}
.two {
    background-color: #f6f6ee;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p {
    width: 110px;
    height: 110px;
/*   background-color: white; */
/*   border: solid 1px black; */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
/* for position properties to work in jQuery animate, you need to make
    sure the element being animated has a position property defined */
    position: relative;
    z-index: 5;
    will-change: transform;
}

/* Animation for new tiles */
@keyframes tile-appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.tile-new {
    animation: tile-appear 0.2s ease-in-out;
}
